  <body class="page-welcome">
    <main>
    <div class="container">
        <div class="sub-container">
            <h1>Suas coleções do jeito certo</h1>
            <p>Organize seus jogos de maneira simples e prática! Mantendo sua coleção de games sempre em ordem. Seja para não esquecer aquele título incrível ou planejar suas próximas aventuras, aqui você tem tudo sob controle! :)</p>
            <button [routerLink]="'/home'" class="btn">Iniciar</button>
        </div>
        <div class="illustration">
            <img src="https://raw.githubusercontent.com/Vitoriomic/resources-game-list/refs/heads/main/resources/Select%20player-bro.png" alt="Ilustração genérica">
        </div>
    </div>
    </main>
  </body>