  <body class="page-welcome">
    <header>
        <div class="container-top">
            <div class="illustration-top">
                <img src="https://media.discordapp.net/attachments/595817621299920896/1337310281424179210/GameListJS2.png?ex=67a6fac1&is=67a5a941&hm=2921b5fa557a0995cc397167e07502b893fb6d368aaf41c229823df4d20216db&=&format=webp&quality=lossless&width=905&height=905" alt="Ilustração genérica">
            </div> 
            <div class="sub-container">
                <h3>GAME LIST</h3>
            </div>    
        </div>
    </header>
    <main>
    <div class="container">
        <div class="sub-container">
            <h1>Suas coleções do jeito certo</h1>
            <p>Organize seus jogos de maneira simples e prática! Mantendo sua coleção de games sempre em ordem. Seja para não esquecer aquele título incrível ou planejar suas próximas aventuras, aqui você tem tudo sob controle! :)</p>
            <a href="#" class="btn">Iniciar</a>
        </div>
        <div class="illustration">
            <img src="https://cdn.discordapp.com/attachments/595817621299920896/1337293423920812052/Select_player-bro.png?ex=67a6eb0d&is=67a5998d&hm=d14e1612581aaeccf8b3e49df85682467cd0a9fff497657d67ccf3f421f4c879&" alt="Ilustração genérica">
        </div>
    </div>
    </main>
  </body>