<body class="page-welcome">
    <header>
        <div class="container-top">
            <div class="illustration-top">
                <img src="https://raw.githubusercontent.com/Vitoriomic/resources-game-list/refs/heads/main/resources/GameListJS2.png" alt="Ilustração genérica">
            </div> 
            <div class="sub-container">
                <h3>GAME LIST</h3>
            </div>    
        </div>
    </header>
    <main>
    <div class="container">
        <div class="illustration">
            <button [routerLink]="'/platform-list'" class="image-button">
                <img src="https://raw.githubusercontent.com/Vitoriomic/resources-game-list/refs/heads/main/resources/Jogos%20de%20Plataforma.png" alt="Plataforma">
            </button>
        </div>
        <div class="illustration">
            <button [routerLink]="'/adventure-list'" class="image-button">
                <img src="https://raw.githubusercontent.com/Vitoriomic/resources-game-list/refs/heads/main/resources/Jogos%20de%20Aventura.png" alt="Aventura">
            </button>
        </div>
    </div>
    </main>
</body>
