<body class="page-welcome">
    <header>
        <div class="container-top">
            <div class="illustration-top">
                <img src="https://raw.githubusercontent.com/Vitoriomic/resources-game-list/refs/heads/main/resources/GameListJS2.png" alt="Ilustração genérica">
            </div> 
            <div class="sub-container">
                <h3>GAME LIST</h3>
            </div>    
        </div>
    </header>
    <main>
    <div class="container">
        <div class="illustration">
            <a href="platform-list">
                <img class="image-button" src="https://raw.githubusercontent.com/Vitoriomic/resources-game-list/refs/heads/main/resources/Jogos%20de%20Plataforma.png" alt="Plataforma">
            </a>
        </div>
        <div class="illustration">
            <a href="adventure-list">
                <img class="image-button" src="https://raw.githubusercontent.com/Vitoriomic/resources-game-list/refs/heads/main/resources/Jogos%20de%20Aventura.png" alt="Aventura">
            </a>
        </div>
    </div>
    </main>
  </body>